{
    "printWidth": 80,
    "tabWidth": 4,
    "twigOutputEndblockName": true,
    "twigFollowOfficialCodingStandards": true,
    "plugins": ["./node_modules/prettier-plugin-twig-melody"],
    "twigMultiTags": [
        "nav,endnav",
        "switch,case,default,endswitch",
        "ifchildren,endifchildren",
        "cache,endcache"
    ]
}
