
{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}


				

<form class="w-full" method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
	<button class="w-full {{ 'edit' in currentPath ? "" : "text-red-700" }} flex justify-center items-center border border-transparent rounded-md font-semibold text-sm uppercase tracking-widest focus:outline-none  disabled:opacity-25 transition ease-in-out duration-150 w-fit">Delete</button>
</form>

	


