<div class="col-span-1 block shadow-inner shadow-slate-50 bg-slate-200">

	<div class="pointer-events-auto w-4/5 max-w-sm bg-white mx-auto my-6 sm:rounded-lg shadow-sm p-4">
		<ul>
			<li class="my-2">
				<a class=" text-lg" href="{{path('app_category_index')}}">Categories</a>
			</li>
			<li class="my-2">
				<a class=" text-lg" href="{{path('app_book_index')}}">Books</a>
			</li>
			<li class="my-2">
				<a class=" text-lg" href="{{path('app_supplier_index')}}">Suppliers</a>
			</li>
			<li class="my-2">
				<a class=" text-lg" href="{{path('app_user_index')}}">Users</a>
			</li>
		</ul>
	</div>

</div>
