{{ form_start(form) }}
{{ form_widget(form) }}


<p>add Roles</p>

<div class="grid grid-cols-2">
	<div class=' row-span-1'>
		<input type="checkbox" id="user" name="user" value="ROLE_USER" for="user" {% if "ROLE_USER" in user.getRoles() %} checked {% endif %}>
		<label>user</label>
	</div>

	<div class=' row-span-1'>
		<input type="checkbox" id="admin" name="admin" value="ROLE_ADMIN" {% if "ROLE_ADMIN" in user.getRoles() %} checked {% endif %}>
		<label for="admin">admin</label>
	</div>

	<div class=' row-span-1'>
		<input type="checkbox" id="commercial" name="commercial" value="ROLE_COMMERCIAL" {% if "ROLE_COMMERCIAL" in user.getRoles() %} checked {% endif %}>
		<label for="scales">commercial</label>
	</div>

	<div class="row-span-1">
		<input type="checkbox" id="update_products" name="update_products" value="ROLE_UPDATE_BOOKS" {% if "ROLE_UPDATE_BOOKS" in user.getRoles() %} checked {% endif %}>
		<label for="scales">update_products</label>
	</div>
</div>

<button class='inline-flex justify-center items-center w-full px-4 py-2 mt-4 bg-green-800 border border-transparent rounded-md font-semibold text-sm text-white uppercase tracking-widest hover:bg-green-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150'>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
