{% extends 'admin.html.twig' %}

{% block title %}Sous catégories{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

        {% for category in categories %}

           <a  href='{{path('books',{"slug":category.slug}) }}'>  <h1 class=' text-blue-400 underline hover:text-blue-800'>{{category.name}}</h1></a>
     

        {% endfor %}


</div>
{% endblock %}

